automated-booking-system.json
{
  "updatedAt": "2025-11-04T15:42:46.000Z",
  "createdAt": "2025-09-03T12:25:58.944Z",
  "id": "cScRM7yKi46hOqeV",
  "name": "Automated booking system",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "4fe15a31-6365-4b96-a3d5-3b02bbe3d31a",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "6ef226d0-1354-4275-9dea-3e16b0e17b54",
      "name": "webhook_trigger",
      "webhookId": "4fe15a31-6365-4b96-a3d5-3b02bbe3d31a"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        480,
        224
      ],
      "id": "01260cf3-8514-48da-b635-53ef3fd00a71",
      "name": "think"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "jobs@turexy.com",
          "mode": "list",
          "cachedResultName": "jobs@turexy.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `Start time for the dental appointment.`, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `End time for the dental appointment. This should be 1 hour AFTER the start time.`, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', 'The title/summary of this event should be in the format of \"Dental Appointment | {patient_name}\" where `patient_name` is the provided name of the patient.', 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        768,
        224
      ],
      "id": "24820a42-45d9-4b6c-8558-4195b815f19b",
      "name": "create_appointment",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "pEo0j76i748tabKL",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1072,
        0
      ],
      "id": "730bf805-43de-4b78-946d-b7b1c046db2c",
      "name": "respond_to_webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Request Data\n\n{{ JSON.stringify($json.body, null, 2)}}\n",
        "options": {
          "systemMessage": "=## Role\n\nYou are an AI agent responsible for handling back office operations at the dental office \"Pearly Whites Dental\". You must make a decision about the data you receive and make a call into the appropriate tool in order to process this request and return the appropriate data necessary.\n\nYou should look at the provided `tool` value in the request body to help decided which tool to use.\n\nPay close attention to the constraints for number of times a tool is able to be used.\n\nYou have secure access to the following internal tools:\n  - `think` → you MUST use this to think carefully about how to handle the provided request data. This tool must be used on every turn and tool call interaction.\n  - `get_availability` → returns true/false availability on the Dental Office Calendar for the given start timestamp. **For availability requests, you MUST call this tool multiple times to find AT LEAST 2 available timeslots if they exist.** Matches the `get_availability` tool value included in the request.\n  - `create_appointment` → creates a 1-hour appointment event for the provided start time. This tool may only be called ONCE (1 time) in a given request. Do NOT use this tool multiple times. Matches the `create_appointment` tool value included in the request. If you use this tool more than once, your task will be considered a FAILURE.\n  - `log_patient_details` → logs the provided call details and patient details to a Google Sheet. This should ONLY be called and used once for a provided request since we are logging details ONCE per call/patient. In order to use this tool, you need to be given the patient name / insurance provider / optional questions and concerns - if you don't have this information, you should NOT use this tool. This will be used only at the very end of the call when all details are provided. Matches the `log_patient_details` tool value included in the request. If you use this tool more than once, your task will be considered a FAILURE.\n\n\n## Special Instructions for get_availability Tool\n\nWhen handling availability requests:\n\n1. **Always aim to return 2 available timeslots** when possible\n2. **Call get_availability multiple times** to check different time slots on the requested date\n3. **Search strategy:**\n   - Start with the requested time (if provided)\n   - If that's not available, check nearby times in 30-minute or 1-hour increments\n   - Check both earlier and later times on the same day\n   - Continue checking until you find 2 available slots OR exhaust reasonable options\n\n4. **Response format:** Return an array of available timeslots in ISO format:\n   ```json\n   {\n     \"availableSlots\": [\n       \"2024-01-15T14:00:00Z\",\n       \"2024-01-15T16:30:00Z\"\n     ]\n   }\n   ```\n\n5. **If fewer than 2 slots are found:**\n   - Return whatever available slots you found (even if just 1)\n   - It's better to return 1 slot than none\n\n6. **Time checking sequence example:**\n   - If user requests \"2:00 PM on Tuesday\"\n   - Check: 2:00 PM, 1:30 PM, 2:30 PM, 1:00 PM, 3:00 PM, 12:30 PM, 3:30 PM, etc.\n   - Stop when you have 2 available slots or have checked reasonable business hours\n\n7. **Business hours assumption:** \n   - Check times between 8:00 AM and 5:00 PM unless specified otherwise\n   - Skip lunch hour (12:00-1:00 PM) if applicable\n\nRemember: The get_availability tool can be called multiple times for availability requests, but create_appointment and log_patient_details must only be called ONCE per request."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        472,
        0
      ],
      "id": "b4c70e24-260d-4186-aab8-a5790b622c6e",
      "name": "dental_agent"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1w1UvSuTumWF4JAyRh-1-QmzBMS_6ZBwsFMgrOAhCP14",
          "mode": "list",
          "cachedResultName": "Dental Appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1w1UvSuTumWF4JAyRh-1-QmzBMS_6ZBwsFMgrOAhCP14/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1w1UvSuTumWF4JAyRh-1-QmzBMS_6ZBwsFMgrOAhCP14/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "Patient name"
          ],
          "schema": [
            {
              "id": "Patient name ",
              "displayName": "Patient name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date/Time called",
              "displayName": "Date/Time called",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Comments",
              "displayName": "Comments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Appointment time",
              "displayName": "Appointment time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        944,
        224
      ],
      "id": "51560834-92d0-4152-a5c0-99c7d09243b7",
      "name": "log_patient_details",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "baIC88IcaQKDBLGe",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ \n  $('webhook_trigger').item.json.body.sessionId \n  || $('webhook_trigger').item.json.headers['x-real-ip'] \n  || $('webhook_trigger').item.json.headers['x-forwarded-for']\n  || $('webhook_trigger').item.json.headers['host']\n  || $execution.id \n}}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        352,
        224
      ],
      "id": "48af0c73-b6e0-44fc-97c1-868847d12f01",
      "name": "simple-memory"
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "jobs@turexy.com",
          "mode": "list",
          "cachedResultName": "jobs@turexy.com"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', `The start timestamp for the dental appointment.`, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', `The end time will always be the Start Time plus 1 hour.`, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        608,
        224
      ],
      "id": "7fc662e8-40aa-487f-b99c-8cfabf6bf395",
      "name": "get_availability_off",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "pEo0j76i748tabKL",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo-1106",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo-1106"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        224,
        224
      ],
      "id": "d5591d6e-80c4-4a65-85fd-bf564e6d73fc",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Hj3yd6iSfl3uprM4",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "connections": {
    "webhook_trigger": {
      "main": [
        [
          {
            "node": "dental_agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "think": {
      "ai_tool": [
        [
          {
            "node": "dental_agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "create_appointment": {
      "ai_tool": [
        [
          {
            "node": "dental_agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "dental_agent": {
      "main": [
        [
          {
            "node": "respond_to_webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "log_patient_details": {
      "ai_tool": [
        [
          {
            "node": "dental_agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "simple-memory": {
      "ai_memory": [
        [
          {
            "node": "dental_agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "get_availability_off": {
      "ai_tool": [
        [
          {
            "node": "dental_agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "dental_agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "668c03de-df8f-4098-a8f2-f1c62de13e92",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-09-03T12:25:58.948Z",
      "createdAt": "2025-09-03T12:25:58.948Z",
      "role": "workflow:owner",
      "workflowId": "cScRM7yKi46hOqeV",
      "projectId": "hCK0QmXlaDJnMyP5"
    }
  ],
  "tags": []
}