whatsapp-and-stripe-(dev).json
{
  "updatedAt": "2025-11-04T15:43:23.000Z",
  "createdAt": "2025-10-09T09:20:45.133Z",
  "id": "KjvlAcl4LmfjDLrA",
  "name": "WhatsApp and Stripe (DEV)",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        -288,
        224
      ],
      "id": "7fc292e9-2689-449f-a006-df8e09fbbdd9",
      "name": "think"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "demo@clobase.com",
          "mode": "list",
          "cachedResultName": "demo@clobase.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', 'The title/summary of this event should be in the format of \"{client_name}\" where `client_name` is the provided name of the client.', 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -160,
        224
      ],
      "id": "74509e48-8ef6-4700-ae3d-722f8e215a8a",
      "name": "create_appointment",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "pEo0j76i748tabKL",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=ai-booking-agent-{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -416,
        224
      ],
      "id": "8a661389-36c0-45d9-a358-325caf992e78",
      "name": "simple-memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.clobase.com/webhook/8f39a144-c02a-48c6-a257-6fea39919c86",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  timestamp: $fromAI('timestamp','ISO day anchor e.g. 2025-09-02T00:00:00','string') || $json.body?.timestamp,\n  timezone:  $fromAI('timezone','IANA timezone','string') || 'Europe/London',\n  slotMinutes: Number($fromAI('slotMinutes','minutes per slot','number') ?? 30),\n  stepMinutes: Number($fromAI('stepMinutes','slot step in minutes','number') ?? 30),\n  calendarIds: Array.isArray($json.body?.calendarIds) ? $json.body.calendarIds : ['jobs@turexy.com']\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        0,
        224
      ],
      "id": "76bcc6bb-1bc0-4f0a-9c62-364bc169425c",
      "name": "get_availability"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {
          "reasoningEffort": "low"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -560,
        224
      ],
      "id": "5f5a7417-1651-489c-892c-b2342bfcd868",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Hj3yd6iSfl3uprM4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "=# Role and Objective\nYou are \"Alex\", the efficient, friendly, and professional appointment scheduling assistant for Max's barber shop, \"Short, Back & Vibes\". Your sole function is to book appointments; you cannot cancel or reschedule. Focus on quickly and politely finding a suitable appointment slot for each client.\n\n# Operating Hours\n- Monday: Closed\n- Tuesday - Wednesday: 10:00am – 07:00pm\n- Thursday – Friday: 10:00am – 08:00pm\n- Saturday: 10:00am – 06:00 pm\n- Sunday: 11:00am – 04:00pm\n- Current date/time: {{$now}}\nMention the shop's opening hours only if the client asks.\n\n# Tone\n- Maintain a clear, concise, and professional style. Use a warm, friendly, and reassuring manner to build trust. If the client does not provide a name, greet them and politely explain that a name is needed to continue. For example: \"Sure, let me check that for you, but I'll need your name to process the booking.\"\n- Ensure that any questions regarding the name and date of the preferred appointment are kept separate, as this will help to avoid any confusion.\n\n# Goal\nSchedule client appointments efficiently.\n\n## Core Workflow\n1. **Determine Intent**\n- If greeted, respond warmly and ask if they'd like to book with Max.\n- If the client wants to schedule, proceed to Step 2.\n- For any other query, respond: \"This chat is solely for booking appointments. For other queries, please contact Max on 07765 918355.\" Only use this if not booking.\n- Do not offer a date until you have the client’s name.\n\n2. **Ask for Name**\n- Request the client's name and store it as `client_name` (string).\n- Use `client_name` as the event title with `create_appointment`.\n- Do not suggest dates or times yet.\n\n4. **Ask for Preferred Day & Use Availability Tool**\n  1. Ask if they have a preferred day of the week: \"Do you already have a day that would work best for your visit?\"\n  2. The appointment can only be booked five days in advance from {{$now}}. You shoud explain this politely if client tries to book an appointment more than 5 days ahead.\n  3. When provided (e.g., \"next Tuesday\"), convert to ISO format for that day’s start time and call `get_availability({ \"appointmentDateTime\": \"<ISO-timestamp>\" })`.\n  4. For requests like \"as soon as possible\":\n    - Check if the request is being made during working hours\n      if yes - check for today appointment\n      if not - check for next working day appointments\n  5. If client says \"tomorrow morning\" - check available slots the following day and present only AM slots if available.\n  6. 'get_availability' tool should return up to four possible slots, two AM and tow PM\n    - Example:\nAM:\nstartZ:2025-10-10T08:00:00.000Z\nendZ:2025-10-10T08:30:00.000Z\nstartLocal:2025-10-10T09:00:00\nendLocal:2025-10-10T09:30:00\ntimezone:Europe/London\n\nPM:\nstartZ:2025-10-10T13:30:00.000Z\nendZ:2025-10-10T14:00:00.000Z\nstartLocal:2025-10-10T14:30:00\nendLocal:2025-10-10T15:00:00\ntimezone:Europe/London\n\n  7. Present all available times returned by get_availability in easy to read format: \n  - Example:\n    \"Great, I have several times available on \n    [date]: [time]\n    [date]: [time]\n    [date]: [time]\n    [date]: [time]\"\n  8. Ask which time they prefer.\n  9. After their selection, proceed to Step 5.\n\n5. **Pull Product List**\n- Use `getProductList` and format the JSON response as a WhatsApp-friendly table:\n`<name> - <amount>` (e.g., Standard haircut - £16.50)\n- \"amount\" is in pence; format as £16.50 for 1650.\n- Ask which product the client wants, and store their selection for payment.\n\n6. **Create Payment Link**\n- Use `createPaymentLink` (only once per booking) to generate the payment URL.\n- Present the link: \"We are nearly there, please complete the payment for the <product> so I can finalise the booking... `url` Let me know once this is completed so I can verify the payment and complete the booking.\"\n- Do NOT imply the booking is complete before confirmation.\n\n7. **Confirm and Book Appointment**\n- Once payment is confirmed and time is chosen, use `create_appointment(start_timestamp, client_name)`.\n- Both name and date/time are required at this stage.\n\n8. **Provide Final Confirmation**\n- Confirm the booking: \"You're all set for your appointment.\" (Do not mention the year.)\n\n## Guardrails\n- Do not include your reasoning, validation, or thought process in replies to clients; client-facing responses must be concise and focused.\n- For all non-scheduling queries, provide Max's mobile: 07765 918355.\n- Keep client exchanges concise, professional, and on-topic. Avoid unnecessary greetings or repeated use of the client's name.\n- Do not repeat introductory information.\n- Never imply a booking is completed before Step 8.\n\n## Price List and Service List\nIf requested, provide a price list or service list using `getProductList` and formatting it as a WhatsApp-friendly table:\n`<name> - <amount>` (e.g., Standard haircut - £16.50)\nFormat \"amount\" as £16.50 for 1650.\n\n## Tools\n- **`get_availability`**: Returns available times for a given date.\n- Args: `{ \"appointmentDateTime\": \"YYYY-MM-DDTHH:MM:SS\" }`\n- Returns: `{ \"availableSlots\": [\"YYYY-MM-DDTHH:MM:SS\", ...] }`\n- **`create_appointment`**: Creates a 30-minute appointment.\n- Args: `{ \"start_timestamp\": ISO-string, \"client_name\": string }`\n- **`getProductList`**: Retrieves the latest product list as JSON.\n- **`createPaymentLink`**: Generates a payment URL for the client’s selected product.\n- Args: `{ \"priceId\": \"price_1SFx...\" }`\n- Returns: `{ \"url\": \"https://buy.stripe.com/...\" }\" "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -304,
        0
      ],
      "id": "f6b43322-fe92-421c-90dd-971a364d910e",
      "name": "booking_agent"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -688,
        16
      ],
      "id": "3b38dd8e-f0e6-4e65-9608-a601cd280a75",
      "name": "WhatsApp Trigger",
      "webhookId": "f58417ba-3224-4bad-b67b-6dd67a94de99",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "5ijFpY1aZuX1qK9B",
          "name": "WhatsApp Clobase Listener"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "859934767194595",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        288,
        0
      ],
      "id": "589f3679-be40-4430-9737-17426a86de1e",
      "name": "Send message",
      "webhookId": "01b5fd80-210d-4668-868b-942070052f0b",
      "credentials": {
        "whatsAppApi": {
          "id": "0YTF49b8d0TZKWcy",
          "name": "WhatsApp reply 07304 494554"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4c5f06bd-b4c9-4e6e-9bb0-ed6ee7513128",
              "leftValue": "={{ $json.messages && !$json.statuses }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -528,
        16
      ],
      "id": "f24aa8f1-925a-448e-9be0-5a1bdf5ad552",
      "name": "If"
    },
    {
      "parameters": {
        "url": "https://api.stripe.com/v1/products",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "stripeApi",
        "options": {}
      },
      "id": "886ff259-b1a2-4d67-96ba-66eb5004a499",
      "name": "HTTP - Get Products",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -832,
        928
      ],
      "credentials": {
        "stripeApi": {
          "id": "38FMppwLnvApBK6j",
          "name": "Stripe account (service@clobase.com)"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "productId",
              "stringValue": "={{ $json.id }}"
            },
            {
              "name": "name",
              "stringValue": "={{ $json.name }}"
            },
            {
              "name": "default_price",
              "stringValue": "={{ $json.default_price }}"
            }
          ]
        },
        "include": "selected",
        "options": {}
      },
      "id": "f5d1353a-1908-4728-98c1-6c15a2a598e0",
      "name": "Set - Keep Product Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -384,
        928
      ]
    },
    {
      "parameters": {
        "url": "https://api.stripe.com/v1/prices",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "stripeApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "product",
              "value": "={{ $json.productId }}"
            },
            {
              "name": "limit",
              "value": "50"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "bb543fa6-b40e-49ac-b236-6bd71ca3bd18",
      "name": "HTTP - Get Prices (by product)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -208,
        800
      ],
      "credentials": {
        "stripeApi": {
          "id": "38FMppwLnvApBK6j",
          "name": "Stripe account (service@clobase.com)"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "productId",
              "stringValue": "={{ $json.productId }}"
            },
            {
              "name": "name",
              "stringValue": "={{ $json.name }}"
            },
            {
              "name": "priceId",
              "stringValue": "={{ $json.prices.data[0].id }}"
            },
            {
              "name": "currency",
              "stringValue": "={{ $json.prices.data[0].currency }}"
            },
            {
              "name": "type",
              "stringValue": "={{ $json.prices.data[0].type }}"
            },
            {
              "name": "recurring_interval",
              "stringValue": "={{ $json.prices.data[0].recurring }}"
            },
            {
              "name": "amount",
              "stringValue": "={{ $json.prices.data[0].unit_amount }}"
            },
            {
              "name": "active",
              "stringValue": "={{ $json.prices.data[0].active }}"
            }
          ]
        },
        "include": "selected",
        "options": {}
      },
      "id": "1c157856-b530-412b-9a57-58a73a8b7625",
      "name": "Set - Flatten Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        480,
        912
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        320,
        912
      ],
      "id": "09fa4001-d8e7-4e18-9a09-c9a0ce7bc77d",
      "name": "Split Out"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -32,
        912
      ],
      "id": "ac3ea8ce-7c4c-4dd6-9164-6f1cbe7b43c9",
      "name": "Merge"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -544,
        928
      ],
      "id": "f94cf508-5549-43c0-91a2-324c3ef53f5a",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "content": "## Get products and prices from Stripe",
        "height": 304,
        "width": 1920
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1072,
        784
      ],
      "id": "6c9a8db2-9fec-48c1-8871-460cba24b5c0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "path": "2013c045-7565-4a37-9727-770a1c6157f8",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1008,
        928
      ],
      "id": "cef5a522-7cad-4297-aa8d-ed1a68b03716",
      "name": "Webhook",
      "webhookId": "2013c045-7565-4a37-9727-770a1c6157f8"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        656,
        912
      ],
      "id": "3b8a4d7b-c139-4f2b-8529-72c19131a419",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "toolDescription": "Queries product list from Stripe",
        "url": "https://n8n.clobase.com/webhook/2013c045-7565-4a37-9727-770a1c6157f8",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        160,
        224
      ],
      "id": "c85615bd-767d-479d-b0a2-6f1af6e08448",
      "name": "getProductList"
    },
    {
      "parameters": {
        "jsCode": "// Input expected on $json:\n// { slots: [ {startZ:\"...\", endZ:\"...\"}, ... ], timezone: \"Europe/London\" }\n\nconst slots = Array.isArray($json.slots) ? $json.slots.slice() : [];\nconst tz = $json.timezone || 'Europe/London';\n\n// nothing to do\nif (!slots.length) {\n  return [{ json: { available: false, reason: 'no_slots_for_day' } }];\n}\n\n// sort by start time (UTC)\nslots.sort((a, b) => new Date(a.startZ) - new Date(b.startZ));\n\n// helper: local hour in given zone\nfunction localHour(iso, zone) {\n  return Number(new Intl.DateTimeFormat('en-GB', {\n    hour: '2-digit', hour12: false, timeZone: zone,\n  }).format(new Date(iso)));\n}\n\n// helper: build local ISO like 2025-09-01T09:30:00 (no offset, use with timeZone later)\nfunction toLocalISO(iso, zone) {\n  const d = new Date(iso);\n  const datePart = new Intl.DateTimeFormat('en-CA', { // en-CA => YYYY-MM-DD\n    timeZone: zone, year: 'numeric', month: '2-digit', day: '2-digit',\n  }).format(d);\n  const timePart = new Intl.DateTimeFormat('en-GB', {\n    timeZone: zone, hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false,\n  }).format(d);\n  return `${datePart}T${timePart}`;\n}\n\n// split into AM (<12) and PM (>=12) by local start time\nconst am = [];\nconst pm = [];\nfor (const s of slots) {\n  const h = localHour(s.startZ, tz);\n  (h < 12 ? am : pm).push(s);\n}\n\n// choose up to two AM and two PM slots\nconst chosen = [...am.slice(0, 2), ...pm.slice(0, 2)];\n\n// if still nothing, return unavailable\nif (!chosen.length) {\n  return [{ json: { available: false, reason: 'no_slots_after_filters' } }];\n}\n\n// enrich with local times for direct use in Calendar (local dt + separate timeZone)\nconst proposals = chosen.map(s => ({\n  ...s,\n  startLocal: toLocalISO(s.startZ, tz),\n  endLocal:   toLocalISO(s.endZ,   tz),\n  timezone:   tz,\n}));\n\nreturn [{\n  json: {\n    available: true,\n    selectedSlots: proposals,      // up to 4 items (2 AM + 2 PM)\n    counts: { am: am.length, pm: pm.length }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        496
      ],
      "id": "8b8f04a3-7273-457e-a25f-8652ae958d0e",
      "name": "pickFirstSlot"
    },
    {
      "parameters": {
        "jsCode": "// Expect TWO upstream items: one \"config\" (windowStart/windowEnd/slotMinutes/stepMinutes/...)\n// and one \"freebusy\" (calendars: { <id>: { busy: [{start,end},...] } })\n\n// 1) Find config + freebusy items\nlet cfg = null, fb = null;\nfor (const it of items) {\n  const j = it.json || {};\n  if (!cfg && j.windowStart && j.windowEnd) cfg = j;\n  if (!fb && j.calendars) fb = j;\n}\nif (!cfg) throw new Error(\"Config item missing windowStart/windowEnd\");\nif (!fb || !fb.calendars) throw new Error(\"FreeBusy item missing calendars\");\n\n// helpers\nfunction toMs(iso){ const t = Date.parse(iso); if (Number.isNaN(t)) throw new Error(\"Bad ISO: \"+iso); return t; }\nfunction localHM(iso, zone) {\n  const s = new Intl.DateTimeFormat('en-GB', {\n    hour: '2-digit', minute: '2-digit', hour12: false, timeZone: zone,\n  }).format(new Date(iso));\n  const [h,m] = s.split(':').map(Number);\n  return h*60 + m;\n}\nfunction localWeekday(iso, zone) {\n  return new Intl.DateTimeFormat('en-GB', { weekday: 'long', timeZone: zone })\n    .format(new Date(iso)); // e.g. \"Tuesday\"\n}\n\n// Map business hours (minutes since midnight). null => closed.\nfunction getBusinessWindow(weekday) {\n  switch (weekday) {\n    case 'Monday':    return null;                  // closed\n    case 'Tuesday':\n    case 'Wednesday': return { open: 10*60, close: 19*60 }; // 10:00–19:00\n    case 'Thursday':\n    case 'Friday':    return { open: 10*60, close: 20*60 }; // 10:00–20:00\n    case 'Saturday':  return { open: 10*60, close: 18*60 }; // 10:00–18:00\n    case 'Sunday':    return { open: 11*60, close: 16*60 }; // 11:00–16:00\n    default:          return null;\n  }\n}\n\n// 2) Read config\nconst tz          = cfg.timezone || 'Europe/London';\nconst windowStart = toMs(cfg.windowStart);\nconst windowEnd   = toMs(cfg.windowEnd);\nconst slotMs      = (Number(cfg.slotMinutes) || 30) * 60 * 1000;\nconst stepMs      = (Number(cfg.stepMinutes) || Number(cfg.slotMinutes) || 30) * 60 * 1000;\nconst bufBeforeMs = (Number(cfg.bufferBeforeMinutes) || 0) * 60 * 1000;\nconst bufAfterMs  = (Number(cfg.bufferAfterMinutes)  || 0) * 60 * 1000;\n\n// 3) Collect busy intervals across all calendars\nlet intervals = [];\nfor (const [id, cal] of Object.entries(fb.calendars)) {\n  if (!cal || (cal.errors && cal.errors.length)) continue;\n  const busy = Array.isArray(cal.busy) ? cal.busy : [];\n  for (const b of busy) {\n    let s = toMs(b.start) - bufBeforeMs;\n    let e = toMs(b.end)   + bufAfterMs;\n    if (e <= windowStart || s >= windowEnd) continue;   // outside day window\n    if (s < windowStart) s = windowStart;\n    if (e > windowEnd)   e = windowEnd;\n    intervals.push([s, e]);\n  }\n}\nintervals.sort((a,b) => a[0] - b[0]);\n\n// 4) Merge overlaps\nconst merged = [];\nfor (const iv of intervals) {\n  if (!merged.length || iv[0] > merged[merged.length-1][1]) merged.push([iv[0], iv[1]]);\n  else if (iv[1] > merged[merged.length-1][1]) merged[merged.length-1][1] = iv[1];\n}\n\n// 5) Free ranges = window - merged busy\nconst freeRanges = [];\nlet cursor = windowStart;\nfor (const [s,e] of merged) {\n  if (cursor < s) freeRanges.push([cursor, s]);\n  if (e > cursor) cursor = e;\n}\nif (cursor < windowEnd) freeRanges.push([cursor, windowEnd]);\n\n// 6) Slice free ranges into slots (UTC) — enforce \"no past\" and \">= now + 1h\"\nfunction ceilToStep(t){ const r = (t - windowStart) % stepMs; return r === 0 ? t : t + (stepMs - r); }\nconst nowMs = Date.now();\nconst minStart = Math.max(windowStart, nowMs + 60 * 60 * 1000); // >= current time + 1h\n\nlet slots = [];\nfor (const [fs,fe] of freeRanges) {\n  const effectiveStart = Math.max(fs, minStart);\n  if (effectiveStart >= fe) continue;\n\n  let t = ceilToStep(effectiveStart);\n  while (t + slotMs <= fe) {\n    slots.push({\n      startZ: new Date(t).toISOString(),\n      endZ:   new Date(t + slotMs).toISOString()\n    });\n    t += stepMs;\n  }\n}\n\n// 7) FILTER to business hours for the day (in tz)\nconst weekday = localWeekday(cfg.windowStart, tz);\nconst biz = getBusinessWindow(weekday);\n\n// If closed, wipe slots.\nif (!biz) slots = [];\nelse {\n  slots = slots.filter(s => {\n    const startHM = localHM(s.startZ, tz);\n    const endHM   = localHM(s.endZ,   tz);\n    return startHM >= biz.open && endHM <= biz.close;\n  });\n}\n\n// 8) Output (plus some debug)\nconst toZ = ([s,e]) => ({ startZ: new Date(s).toISOString(), endZ: new Date(e).toISOString() });\n\nreturn [{\n  json: {\n    slots,\n    debug: {\n      timezone: tz,\n      weekday,\n      businessWindowMinutes: biz || null,\n      windowStartZ: new Date(windowStart).toISOString(),\n      windowEndZ:   new Date(windowEnd).toISOString(),\n      mergedBusy:   merged.map(toZ),\n      freeRanges:   freeRanges.map(toZ),\n      minStartZ:    new Date(minStart).toISOString(),\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        496
      ],
      "id": "9994e6a6-0198-4cd5-9e55-8e606bd81f58",
      "name": "getAllSlotsForTheDay"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/calendar/v3/freeBusy",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  timeMin: $node[\"Config\"].json.windowStart,\n  timeMax: $node[\"Config\"].json.windowEnd,\n  timeZone: $node[\"Config\"].json.timezone,\n  items: $node[\"Config\"].json.calendarIds.map(id => ({ id }))\n}) }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -464,
        576
      ],
      "id": "4aa134f7-ddd6-42b7-bb2f-7eef7a71e32a",
      "name": "FreeBusy",
      "credentials": {
        "oAuth2Api": {
          "id": "bCgeKmyn9b1BZgTp",
          "name": "Unnamed credential"
        },
        "googleOAuth2Api": {
          "id": "jMGCrDX8pBYUuzg2",
          "name": "Google account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cd5b085c-7436-46fb-8bd5-aa0d52e965d2",
              "name": "timezone",
              "value": "={{ $json.timezone || 'Europe/London' }}",
              "type": "string"
            },
            {
              "id": "ff51dc5e-3094-4db9-aa39-7da0987cc3c8",
              "name": "slotMinutes",
              "value": 30,
              "type": "number"
            },
            {
              "id": "091d9d63-9f47-446e-9798-2d871e74ba81",
              "name": "stepMinutes",
              "value": 30,
              "type": "number"
            },
            {
              "id": "ee4c98c6-2117-4228-9756-a6c1abc6c7ee",
              "name": "bufferBeforeMinutes",
              "value": 0,
              "type": "number"
            },
            {
              "id": "2ffc85a8-aeb9-440b-b8dc-1102746abef3",
              "name": "bufferAfterMinutes",
              "value": 0,
              "type": "number"
            },
            {
              "id": "cac063a9-6a5e-40e2-bc97-25e7f720c4f0",
              "name": "calendarIds",
              "value": "=[\"demo@clobase.com\"]",
              "type": "array"
            },
            {
              "id": "448b1372-b153-4a4b-b761-9019f5b41add",
              "name": "windowStart",
              "value": "={{ DateTime.fromISO(\n      $json.body?.timestamp,                              // <-- read from body\n      { zone: $json.body?.timezone || 'Europe/London' }\n    )\n    .set({ hour: ($json.body?.workday?.startHour ?? 10), minute: 0, second: 0, millisecond: 0 })\n    .toISO() }}",
              "type": "string"
            },
            {
              "id": "56ec02c4-69d8-4697-8229-5f2fc3cd0615",
              "name": "windowEnd",
              "value": "={{ DateTime.fromISO(\n      $json.body?.timestamp,\n      { zone: $json.body?.timezone || 'Europe/London' }\n    )\n    .set({ hour: ($json.body?.workday?.endHour ?? 19), minute: 0, second: 0, millisecond: 0 })\n    .toISO() }}",
              "type": "string"
            },
            {
              "id": "143b7abf-f257-4d34-8b64-59a8f003cc42",
              "name": "startHour",
              "value": "={{ ($json.workday && $json.workday.startHour) || 9 }}",
              "type": "number"
            },
            {
              "id": "bf63f4f1-c843-49fa-984d-19260e9d4f6b",
              "name": "endHour",
              "value": "={{ ($json.workday && $json.workday.endHour) || 18 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -688,
        480
      ],
      "id": "b67a3d0b-81eb-49db-aa96-923b173d6a72",
      "name": "Config"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "8f39a144-c02a-48c6-a257-6fea39919c86",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -912,
        480
      ],
      "id": "126e873e-4f85-43d9-afcb-f32624c168e7",
      "name": "getFreeSlot",
      "webhookId": "8f39a144-c02a-48c6-a257-6fea39919c86"
    },
    {
      "parameters": {
        "content": "## Get Available Slots",
        "height": 336,
        "width": 1584,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -960,
        400
      ],
      "id": "12c1c410-b818-4a41-b67f-c8866b3f22cf",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "config",
              "field2": "FreeBusy"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -240,
        496
      ],
      "id": "afb32e76-1ee1-42ca-ac5c-ff8be43492f1",
      "name": "Merge1"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify({\n  availableSlots: ($json.selectedSlots || []).map(s => s.startLocal),\n  timezone: ($json.selectedSlots && $json.selectedSlots.length > 0)\n    ? $json.selectedSlots[0].timezone\n    : ($json.timezone || 'UTC')\n}) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        432,
        496
      ],
      "id": "9a1eb781-07ea-461d-9ffd-1462ce0840a1",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  ...$json,\n  prices: $json\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        912
      ],
      "id": "2b7aeab4-838f-407a-9b94-80fd627637f5",
      "name": "Merge Products with Prices"
    },
    {
      "parameters": {
        "jsCode": "// items[0].json looks like { object: 'list', data: [ ...products ] }\nconst list = items[0].json;\n\n// get all products\nconst products = list.data || [];\n\n// filter only active products and reverse them\nconst filteredAndReversed = products\n  .filter(p => p.active === true)\n  .reverse();\n\n// update the data array with filtered results\nlist.data = filteredAndReversed;\n\n// return the same single item with filtered + reversed data\nreturn [{ json: list }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        928
      ],
      "id": "54ff5a44-36b3-4b2c-b9b7-88c1b42ec2d0",
      "name": "Reverse List"
    },
    {
      "parameters": {
        "toolDescription": "Creates Stripe payment link",
        "method": "POST",
        "url": "https://api.stripe.com/v1/payment_links",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "stripeApi",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "line_items[0][price]",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `priceid obtained when client chose product`, 'string') }}"
            },
            {
              "name": "line_items[0][quantity]",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        320,
        224
      ],
      "id": "f9c3cd81-e705-4a8e-8ee5-bf6088e98e45",
      "name": "createPaymentLink",
      "credentials": {
        "stripeApi": {
          "id": "38FMppwLnvApBK6j",
          "name": "Stripe account (service@clobase.com)"
        }
      }
    },
    {
      "parameters": {
        "content": "## Main flow\n",
        "height": 400,
        "width": 1440,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -928,
        -32
      ],
      "id": "e032aa48-25cf-4dec-ac83-6e0e655d2e6b",
      "name": "Sticky Note2"
    }
  ],
  "connections": {
    "think": {
      "ai_tool": [
        [
          {
            "node": "booking_agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "create_appointment": {
      "ai_tool": [
        [
          {
            "node": "booking_agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "simple-memory": {
      "ai_memory": [
        [
          {
            "node": "booking_agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "get_availability": {
      "ai_tool": [
        [
          {
            "node": "booking_agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "booking_agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "booking_agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "booking_agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Get Products": {
      "main": [
        [
          {
            "node": "Reverse List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Keep Product Fields": {
      "main": [
        [
          {
            "node": "HTTP - Get Prices (by product)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP - Get Prices (by product)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Flatten Output": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Set - Flatten Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge Products with Prices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Set - Keep Product Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP - Get Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getProductList": {
      "ai_tool": [
        [
          {
            "node": "booking_agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "pickFirstSlot": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getAllSlotsForTheDay": {
      "main": [
        [
          {
            "node": "pickFirstSlot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FreeBusy": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          },
          {
            "node": "FreeBusy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getFreeSlot": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "getAllSlotsForTheDay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Products with Prices": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reverse List": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "createPaymentLink": {
      "ai_tool": [
        [
          {
            "node": "booking_agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "getFreeSlot": [
      {
        "json": {
          "headers": {
            "host": "n8n.clobase.com",
            "user-agent": "axios/1.12.0",
            "content-length": "130",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "n8n.clobase.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "50e28c364b78",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "timestamp": "2025-10-10T00:00:00",
            "timezone": "Europe/London",
            "slotMinutes": 30,
            "stepMinutes": 30,
            "calendarIds": [
              "jobs@turexy.com"
            ]
          },
          "webhookUrl": "https://n8n.clobase.com/webhook/8f39a144-c02a-48c6-a257-6fea39919c86",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "911dbc25-ac52-4454-a45f-75f650f9ed9c",
  "triggerCount": 3,
  "shared": [
    {
      "updatedAt": "2025-10-09T09:20:45.138Z",
      "createdAt": "2025-10-09T09:20:45.138Z",
      "role": "workflow:owner",
      "workflowId": "KjvlAcl4LmfjDLrA",
      "projectId": "hCK0QmXlaDJnMyP5"
    }
  ],
  "tags": []
}